@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

/*------------------------------- Pattern for allthe pages ---------------------------------*/
:root {
    --primary-color: #68519D;
    --secondary-color: #F8B04E;
    --tertiary-color: #2c2661;
    --quartenary-color: #D7CAE5;
    --quinary-color: #FBF0E2;
    --senary-color: #121212;
    --septenary-color: #f2f2f2;
    --octonary--color: #fff;
    --nonary--color: #27AE60;
    --denary--color: #F8B04E;
    --eleventh--color: #EB5757;
}

body {
    display: flex;
    background-color: var(--octonary--color);
    font-family: 'Poppins';
}

body.active {
    background-color: var(--senary-color);
}

.container {
    display: flex;
    margin: 0;
    padding: 0;
}

#boxes {
    display: flex;
}

#polygon {
    position: fixed;
    background-color: var(--secondary-color);
    width: 250px;
    height: 65vh;
    right: 0px;
    bottom: 0px;
    z-index: -2;
    clip-path: polygon(0 100%, 0 45%, 45% 0, 100% 0);
    transform: rotate(180deg);
}

/*----------------------------------------- Dark Mode --------------------------------------*/
#icon-toggle {
    position: absolute;
    padding-top: 20px;
    right: 15px;
    cursor: pointer;
}

#icon-mode {
    color: var(--primary-color);
}

#icon-mode.active {
    color: var(--quartenary-color);
    transform: rotate(180deg);
}

.sun-and-moon {
    display: flex;
    align-items: center;
    margin-top: -25px;
    gap: 10px;
}

#icon-moon {
    z-index: -1;
    color: var(--tertiary-color);
}

#icon-sun {
    margin-left: 10px;
    z-index: -1;
    color: var(--secondary-color);
}

/*--------------------------------------- Login page ---------------------------------------*/
#dark-box-1 {
    background-color: var(--primary-color);
    width: 40px;
    height: 100vh;
}

#light-box-1 {
    background-color: var(--quartenary-color);
    width: 8px;
    height: 100vh;
}

.content-login {
    display: flex;
    padding: 50px;
    padding-top: 60px;
}

.login-card {
    background-color: var(--septenary-color);
    width: 350px;
    height: 450px;
    margin-left: 200px;
    margin-top: 50px;
    padding: 50px;
    padding-top: 70px;
    border: 1px solid var(--octonary--color);
    border-radius: 10px;
    box-shadow: 0 0 25px 8px rgba(70, 34, 124, 0.497);

}

.profile-circle {
    position: absolute;
    background-color: var(--septenary-color);
    width: 120px;
    height: 120px;
    left: 626px;
    top: 48px;
    border: 8px solid var(--octonary--color);
    border-radius: 50%;
    box-shadow: 0 0 25px 8px rgba(70, 34, 124, 0.497);
}

.fa-user {
    position: relative;
    left: 23px;
    top: 15px;
    color: var(--tertiary-color);
}

.login-field {
    margin-top: 5px;
    color: var(--tertiary-color);
}

.input-login {
    position: relative;
    width: 100%;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-style: none;
    border: 1px solid var(--tertiary-color);
    border-radius: 10px;
    color: var(--tertiary-color);
}

.input-login:focus {
    outline: 0;
}

.fa-eye-slash {
    position: relative;
    left: 180px;
    top: -37px;
    color: var(--tertiary-color);
    cursor: pointer;
}

.fa-eye {
    position: relative;
    left: 180px;
    top: -37px;
    color: var(--tertiary-color);
    cursor: pointer;
}

.fa-circle-check {
    position: relative;
    color: var(--nonary--color);
}

.fa-circle-exclamation {
    position: relative;
    color: var(--eleventh--color);
}

.check-input-login {
    visibility: hidden;
    left: 255px;
    top: -40px;
}

.exclamation-input-login {
    visibility: hidden;
    left: 235px;
    top: -40px;
}

.span-validation-login {
    position: absolute;
    display: none;
    background-color: var(--octonary--color);
    width: 200px;
    height: 40px;
    padding: 10px;
    left: 850px;
    top: 210px;
    border-radius: 10px;
    font-size: 13px;
    color: var(--eleventh--color);
    box-shadow: 0 0 10px 2px var(--eleventh--color);
}

.password-validation-login {
    top: 315px;
}

.login-button {
    background-color: var(--primary-color);
    width: 150px;
    height: 35px;
    margin-left: 40px;
    margin-top: 30px;
    border-style: none;
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    color: var(--octonary--color);
}

.login-button:hover {
    background-color: var(--septenary-color);
    color: var(--primary-color);
}

.login-card-footer {
    margin-left: 70px;
    margin-top: 40px;
}

.signup-button {
    background-color: var(--septenary-color);
    border: none;
    color: grey;
}

.signup-button:hover {
    color: rgb(79, 79, 79);
    text-decoration: underline;
}

/*------------------------------------- Modal Signup ---------------------------------------*/
.modal-signup {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#modal-signup-content {
    background-color: var(--septenary-color);
    width: 350px;
    height: 450px;
    margin-left: 515px;
    margin-top: 110px;
    padding: 50px;
    padding-top: 70px;
    border: 1px solid var(--octonary--color);
    border-radius: 10px;
    box-shadow: 0 0 25px 8px rgba(70, 34, 124, 0.497);
    color: var(--tertiary-color);
}

.signup-field {
    margin-bottom: 5px;
}

.input-signup {
    width: 100%;
    height: 35px;
    margin-top: 5px;
    padding-left: 10px;
    border-style: none;
    border: 1px solid var(--tertiary-color);
    border-color: var(--primary-color);
    border-radius: 10px;
    color: var(--tertiary-color);
}

.input-signup:focus {
    outline: 0;
}

.check-input {
    visibility: hidden;
    left: 255px;
    top: -30px;
}

.exclamation-input {
    visibility: hidden;
    left: 235px;
    top: -30px;
}

.span-validation {
    position: absolute;
    display: none;
    background-color: var(--octonary--color);
    width: 320px;
    height: 40px;
    padding: 10px;
    left: 850px;
    top: 208px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px var(--eleventh--color);
    font-size: 13px;
    color: var(--eleventh--color);
}

.email-validation {
    top: 300px;
}

.password-validation {
    top: 396px;
}

.card-signup-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cancel-signup {
    background-color: var(--septenary-color);
    margin-top: 15px;
    border: none;
    color: grey;
}

.cancel-signup:hover {
    color: rgb(79, 79, 79);
    text-decoration: underline;
}

.submit-signup {
    background-color: var(--primary-color);
    width: 100px;
    height: 35px;
    margin-top: 15px;
    border-style: none;
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    color: lightgray;
}

.submit-signup:hover {
    background-color: var(--septenary-color);
    color: var(--primary-color);
}

/*------------------------------------ The list page ---------------------------------------*/
#dark-box-2 {
    background-color: var(--primary-color);
    width: 40px;
    height: 130vh;
}

#light-box-2 {
    background-color: var(--quartenary-color);
    width: 8px;
    height: 130vh;
}

.fa-ellipsis,
.fa-ellipsis-vertical,
#menu {
    visibility: hidden;
}

.container-list-page {
    padding: 30px;
    padding-top: 70px;
}

.exit-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.exit-icon {
    margin-left: 30px;
    margin-top: 22px;
    padding-top: 30px;
    transform: rotate(180deg);
    color: var(--primary-color);
    cursor: pointer;
}

#welcome-msg {
    position: absolute;
    width: 200px;
    left: 120px;
    top: 25px;
    color: var(--primary-color);
}

#welcome-msg.active {
    color: var(--septenary-color);
}

#logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    margin-top: 60px;
    margin-bottom: 0px;
    gap: 14px;
    font-size: 22px;
    font-weight: bolder;
    color: var(--primary-color);
}

#logo-title.active{
    color: var(--septenary-color);
}

.add-button {
    background-color: var(--octonary--color);
    width: 250px;
    height: 40px;
    margin-top: 20px;
    border-style: none;
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    color: var(--tertiary-color);
}

.add-button:hover {
    background-color: var(--primary-color);
    color: #f2f2f2;
}

.filter-section {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 20px;
    gap: 10px;
}

.filter-button {
    background-color: var(--octonary--color);
    width: 120px;
    height: 35px;
    border: none;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    font-size: 13px;
    color: var(--primary-color);
}

.filter-button:hover {
    background-color: var(--primary-color);
    color: var(--octonary--color);
}

.button-dark{
    background-color: var(--primary-color);
    border: 1px solid var(--septenary-color);
    color: var(--septenary-color);
}

.button-dark:hover{
    background-color: var(--quartenary-color);
    border: 1px solid var(--septenary-color);
    color: var(--primary-color);
}

/*----------------------------------------- Modal ------------------------------------------*/
.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal-form {
    display: none;
}

.modal-content {
    background-color: var(--octonary--color);
    width: 600px;
    height: 540px;
    margin: 100px auto;
    padding-top: 40px;
    padding-right: 60px;
    padding-left: 60px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-color);
}

.list-form {
    margin-top: 25px;
    font-size: 14px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
    color: var(--primary-color);
}

.list-input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-style: none;
    border: 1px solid var(--tertiary-color);
    border-radius: 10px;
    color: var(--tertiary-color);
}

.list-input:focus {
    outline: 1;
    outline-color: var(--primary-color);
}

.date-input {
    width: 200px;
    height: 40px;
    padding: 10px;
    border-style: none;
    border: 1px solid var(--tertiary-color);
    border-radius: 10px;
    text-align: center;
    color: var(--tertiary-color);
}

.date-input:focus {
    outline: 1;
    outline-color: var(--primary-color);
}

.select {
    width: 200px;
    height: 40px;
    padding: 10px;
    border-style: none;
    border: 1px solid var(--tertiary-color);
    border-radius: 10px;
    color: var(--tertiary-color);
}

.select:focus {
    outline: 1;
    outline-color: var(--primary-color);
}

.card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}

#cancel-button {
    border: none;
    background-color: var(--octonary--color);
    color: gray;
}

#cancel-button:hover {
    text-decoration: underline;
}

.submit {
    background-color: var(--octonary--color);
    width: 120px;
    height: 35px;
    border: none;
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    color: var(--primary-color);
}

.submit:enabled {
    background-color: var(--tertiary-color);
    color: white;
}

/*-------------------------------------- Modal Trash ---------------------------------------*/
.modal-trash {
    display: none;
}

.modal-trash-content {
    background-color: var(--septenary-color);
    width: 450px;
    height: 300px;
    margin: 180px auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    border: 0.5px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.card-trash-title {
    font-size: 20px;
    text-align: center;
    color: var(--tertiary-color);
}

.card-trash-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

#cancel-task-button,
#delete-task-button {
    background-color: var(--septenary-color);
    width: 100px;
    height: 35px;
    border-style: none;
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    color: var(--primary-color);
}

#cancel-task-button:hover,
#delete-task-button:hover {
    background-color: var(--primary-color);
    color: var(--octonary--color);
}

.arrow-footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
    font-size: 13px;
    color: var(--tertiary-color);

}

.arrow-previous {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrow-next {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*------------------------------------------ Table -----------------------------------------*/
.table-content {
    width: 950px;
    margin-top: 50px;
}

table {
    background-color: var(--octonary--color);
    font-size: 15px;
}

tr,
td {
    color: var(--tertiary-color) !important;
}

.fa-sort-down {
    cursor: pointer;
}

.arrow-filter {
    position: relative;
    left: 13px;
    bottom: 2px;
    cursor: pointer;
}

#table-icons {
    margin-left: 7px;
}

.fa-pen-to-square {
    color: var(--tertiary-color);
    cursor: pointer;
}

.fa-trash {
    color: var(--quartenary-color);
    cursor: pointer;
}

.Concluida {
    color: var(--nonary--color) !important;
}

.Em-andamento {
    color: var(--denary--color) !important;
}

.Pausada {
    color: var(--eleventh--color) !important;
}

/*-------------------------------------- Media query ---------------------------------------*/

@media screen and (min-width: 320px) and (max-width: 768px) {

    #dark-box-1 {
        background-color: var(--primary-color);
        width: 25px;
        height: 100vh;
    }

    #light-box-1 {
        background-color: var(--quartenary-color);
        width: 8px;
        height: 100vh;
    }

    #icon-toggle {
        left: 330px;
    }

    .sun-and-moon {
        position: relative;
        right: 8px;
    }

    #icon-moon {
        z-index: -1;
        color: var(--tertiary-color);
    }

    #icon-sun {
        margin-left: 20px;
        z-index: -1;
        color: var(--secondary-color);
    }

    /*---------------------------------- Login Page ----------------------------------------*/
    .content-login {
        padding: 50px;
        padding-left: 25px;
        padding-top: 60px;
    }

    .login-card {
        position: relative;
        width: 300px;
        height: 400px;
        margin-top: 150px;
        left: -400px;
    }

    .profile-circle {
        width: 120px;
        height: 120px;
        left: 90px;
        top: -60px;
    }

    .check-input-login {
        position: relative;
        top: -40px !important;
    }

    .exclamation-input-login {
        position: relative;
        top: -40px !important;
    }

    .span-validation-login {
        height: 20px;
        padding-left: 10px;
        padding-top: 0px;
        left: 50px;
        top: 145px;
    }

    .password-validation-login {
        top: 248px;
    }

    .fa-eye-slash,
    .fa-eye {
        left: 130px;
        top: -37px;
    }

    .login-button {
        margin-left: 20px;
        margin-top: 10px;
    }

    .login-card-footer {
        margin-left: 50px;
        margin-top: 30px;
    }

    /*------------------------------------ Modal Signup ------------------------------------*/
    #modal-signup-content {
        position: relative;
        width: 300px;
        height: 400px;
        margin-left: 0px;
        left: 73px;
        top: 100px;
    }

    .fa-circle-check {
        left: 205px;
        top: -30px;
    }

    .fa-circle-exclamation {
        left: 185px;
        top: -30px;
    }

    .span-validation {
        width: 240px;
        height: 20px;
        padding: 0px;
        padding-left: 10px;
        left: 30px;
        top: 140px;
        font-size: 10px;
        color: var(--eleventh--color);
        text-align: center;
    }

    .email-validation {
        top: 235px;
    }

    .password-validation {
        top: 325px;
    }

    .submit-signup,
    .cancel-signup {
        margin-right: 30px;
        margin-top: 0px;
    }

    /*--------------------------------- The list page --------------------------------------*/
    #dark-box-2 {
        height: 150%;
    }

    #light-box-2 {
        height: 150%;
    }

    .container-list-page {
        padding-left: 10px;
        padding-top: 60px;
    }

    .fa-ellipsis {
        visibility: visible;
        padding: 10px;
        color: var(--octonary--color);
    }

    .fa-ellipsis-vertical {
        position: absolute;
        visibility: hidden;
        left: 10px;
        top: 10px;
        color: var(--octonary--color);
    }

    .exit-section {
        display: none;
    }

    .welcome-msg {
        display: none;
    }

    .welcome-msg-menu {
        display: block;
        margin-left: 55px;
        margin-top: 20px;
        color: var(--octonary--color);
    }

    #menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .add-button,
    .filter-button,
    .search-input {
        display: none;
    }

    .add-button-menu {
        display: block;
        background-color: var(--primary-color);
        width: 218px;
        height: 50px;
        margin-top: 100px;
        margin-bottom: 60px;
        border: none;
        border-right: 8px solid var(--quartenary-color);
        border-radius: 0px;
        color: var(--octonary--color);
    }

    .filter-button-menu {
        display: block;
        background-color: var(--primary-color);
        width: 218px;
        height: 40px;
        margin-top: 10px;
        border: none;
        border-right: 8px solid var(--quartenary-color);
        border-radius: 0px;
        font-size: 16px;
        color: var(--octonary--color);
    }

    .filter-button-menu:hover {
        background-color: var(--quartenary-color);
        color: var(--senary-color);
    }

    .search-placeholder {
        display: none;
    }

    .exit-icon-menu {
        position: absolute;
        left: 20px;
        top: 620px;
        transform: rotate(180deg);
        color: var(--octonary--color);
        cursor: pointer;
    }

    /*--------------------------------------- Modal ----------------------------------------*/
    .modal-content {
        width: 380px;
        height: 540px;
        margin-left: 20px;
        margin-top: 135px;
    }

    .modal-trash-content {
        width: 380px;
        margin-left: 20px;
        margin-top: 180px;
    }

    /*-------------------------------------- Table -----------------------------------------*/
    .table-content {
        position: relative;
        width: 365px;
        margin-left: 50px;
        margin-top: 30px;
        right: 60px;
    }

    table {
        font-size: 12px;
    }

    .arrow-filter-responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .fa-sort-down {
        position: relative;
        right: 8px;
    }

    .arrow-filter {
        left: 5px;
        bottom: -18px;
    }

    .fa-pen-to-square {
        color: var(--tertiary-color);
        cursor: pointer;
    }

    .fa-trash {
        color: var(--quartenary-color);
        cursor: pointer;
    }
}